<%= form_for(@comment) do |f| %>
	<% if @comment.errors.any? %>
	<div class="error_explanation">
		<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this blog post from being saved:</h2>

		<ul>
			<% @comment.errors.full_messages.
				each do |message| %>
				<li><%= message %></li>
				<% end %>
		</ul>
	</div>
	<% end %>

	<div class="form-group">
		<%= f.text_field :author, class: "form-control", placeholder: "Your name" %>
	</div>
	<div class="form-group">
		<%= f.text_area :comment_entry, class: "form-control", rows: "3", placeholder: "Enter Comment Here..." %>
	</div>
	<div class="form-group hidden">
		<%= f.number_field :blog_post_id, value: @blog_post.id %>
	</div>
	<div class="actions">
		<%= f.submit "Comment", class: "btn btn-default" %>
	</div>
	<% end %>