<h1>Current Blog Posts</h1>

<div class="row">
	<% @blog_posts.each do |blog_post| %>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel heading">
				<%= blog_post.title %>
			</div>
			<div class="panel-body">
				by <%= blog_post.author %><br />
				<p>Created at: <%= blog_post.created_at.strftime('%m/%d%Y at %I: at %I:%M%p') %><%= blog_post.blog_entry[0..250] %>... <%= link_to 'Read More', blog_post %></p>
			</div>
			<div class="panel-footer">
				<%= link_to 'Show', blog_post, class: "btn btn-primary" %>
				<%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
				<%= link_to 'Destroy', blog_post, method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-danger" %>
			</div>
		</div>
	</div>
	<% end %>
</div>

<br />

<%= link_to 'New Blog Post', new_blog_post_path %>