<p id="notice"><%= notice %></p>
<h1>Showing Blog Post</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @blog_post.title %>
	</div>
	<div class="panel-body">
		<p>by <%= @blog_post.author %></p>
		<p><%= time_ago_in_words(@blog_post.created_at) %></p>
		<p><%= @blog_post.blog_entry %></p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Comments
	</div>
	<div></div>
</div>
<div class="panel-body">
	<%= render @comment %>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		Make a Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>

<div>
	<%= link_to 'Edit', blog_posts_path(@blog_post) %>
	<%= link_to 'Back', blog_posts_path %>
</div>